@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #F3D6D8;
  --primary-600: #E7BFC1;
  --nude: #E9DCCF;
}

body{
  @apply bg-white text-gray-800;
}

.logo-title{
  font-family: 'Playfair Display', serif;
}
.script-font{
  font-family: 'Great Vibes', cursive;
}
